
.box_cadastro {
    display: flex;
    width: 90%;
    max-width: 1440px;
    justify-content: space-between;
    margin: 0 auto;
    height: 200px;
    margin-top: 30px;
  
   
}

.container_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container_cadastro h2 {
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
    
}

.container_cadastro .confirmar {
    margin-top: 50px;
   
}




.Cadastro_coluna1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 47%;
}




.Cadastro_coluna2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 47%;
}


.box_cadastro label {
    font-size: 20px;

}


.box_cadastro input[type="text"] {
    border-radius: 5px;
    border: solid 1px #b3b3b3;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0 10px;
    background-color: #3C444C;
    justify-content: space-between;
    height: 68px;
    width: 100%;
}







.box_cadastro textarea {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: solid 1px #b3b3b3;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0 10px;
    background-color: #3C444C;
    box-shadow: 0 4px 4px 2px #00000025;
    resize: none;
    height: 200px;

}



.container_cadastro input {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: solid 1px #b3b3b3;
    padding: 0px 10px;
    box-shadow: 0 4px 4px 2px #00000025;
    
}


.container_cadastro input[type="button"] {
    font-size: 30px;
    background-color: #3C444C;
    color: #FFFFFF;
    width: 24%;
    height: 68px;
    cursor: pointer;   
}



    


@media screen and (max-width: 600px) {
    
    .container_cadastro input[type="button"] {
        width: 35%;
          
    }

    .box_cadastro{
        flex-direction: column;
        height: 400px;
    }
    
    .Cadastro_coluna1{
        width: 100%;
    }
    
    .Cadastro_coluna2{
        width: 100%;
    }
     
}



    
