header {
    background-color: #4f4f4f;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.icons,
.icons_fim {
    display: flex;
    gap: 10px;
    color: #f5f5f5;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    justify-content: center;
    color: #f5f5f5;
}

svg {
    width: 35px;
    height: 35px;
}

