


/* banner */
img {
    width: 100%;
} 


.titulo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.titulo span {
    font-size: 48px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 130px;
}

.card_produto {
    width: 470px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
}

h2{
    font-size: 30px;
}












