* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}

body {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #4f4f4f;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.icons,
.icons_fim {
    display: flex;
    gap: 10px;
    color: #f5f5f5;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    justify-content: center;
    color: #f5f5f5;
}

svg {
    width: 35px;
    height: 35px;
}




/* main */

main {
    display: block;
    unicode-bidi: isolate;
}


/* banner */
img {
    width: 100%;
}


.titulo {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.titulo span {
    font-size: 48px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 130px;
}

.card_produto {
    width: 470px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
}

h2{
    font-size: 30px;
}












