*{
   
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;


    
    
    
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

header{
   background-color: #4F4F4F;
   height: 90px;
   width: none;
   padding-top: 25px;
   justify-content: space-between;
   align-items: center;
  }




  header svg{

  width: 50px;  
  height: 35px;
  color: #ffffff;
}



header h1{
   text-align: center;
   color: aliceblue;
   
}

.icon_bolsa{
margin: 0 0 10px 0;
object-fit: contain;
width: 60px;


}
 
.icon_user{
  margin: 0 25px;
  
} 



header svg,
.box_search{
 position: relative;
 bottom: 30px;
 
}


.icons_esquerda{
 display: flex;
 gap: 10px;

 }
 .icons_direita{
 display: flex;
 justify-content: right;
 position: relative;
 bottom: 30px;
 gap: 1px;
 
 }


 /*SECAO MAIN/**/

main{

background-color: rgb(255, 255, 255);
height: 700px;
width: 100%;

}


.banner_home{
position: relative;
width: 100%;
  }

.banner img{
width: 100%;

}



.container_size{
text-align: center;
margin-top:80px ;
font-size: 30px;

}





.titulo_modelos{
text-align: center; 
font-size: 40px;
margin-top: 0px;
position: relative;
padding-top: 50px;
}


 
.modelos{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}



footer{
  width:100vw;  
  height: 150px;
  background-color: #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}

.logo{

 align-items: center;
 width: 200px;
 height: 106px;


}



.ancoras-em-linha {
  display: flex;
  gap: 16px; /* Espaço entre as âncoras */
}

/* media*/ 


@media screen and (max-width: 1050px ) {
   
  .banner{
aspect-ratio: 2.0;
 
  }
  
}

@media screen and (max-width: 1050px ) { 
.modelos div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 280px;
  height: 380px;
}


}
