* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}




:root {
--corBackground:  #FFFFFF;
--corPrincipal:  #4f4f4f;
--corFontClara:  #FFFFFF;
--alturaRodape: 50px;
--fontLogo: "Bebas Neue", sans-serif;

}




body {
    background-color: var(--corBackground);
}



